[Unit]
Description=Fan Control Service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/ubuntu/git/cm4-fan-control-service/fancontrol.py

[Install]
WantedBy=multi-user.target
